In [1]:
import pandas as pd

In [2]:
file1 = "../data/daily_average_price_volume_by_product_seoul.csv"
file2 = "../output/clustering/clustering_results.csv"

In [3]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

In [4]:
df1.columns

Index(['품목', '일자', '총물량', '평균단가', '온도차(°C)', '평균기온(°C)', '일강수량(mm)', '계절'], dtype='object')

In [5]:
df2.columns

Index(['PCA1', 'PCA2', 'Item', 'Cluster'], dtype='object')

In [6]:
df2.rename(columns={"Item": "품목"}, inplace=True)

In [8]:
df2.rename(columns={"품목": "item"}, inplace=True)

In [9]:
df2.rename(columns={"Cluster": "cluster"}, inplace=True)

In [7]:
df1.rename(columns={
    "품목": "item",
    "일자": "date",
    "총물량": "total_quantity",
    "평균단가": "average_price",
    "온도차(°C)": "temperature_range",
    "평균기온(°C)": "average_temperature",
    "일강수량(mm)": "daily_rainfall",
    "계절": "season"
}, inplace=True)

In [10]:
df1 = pd.merge(df1, df2[['item', 'cluster']], on='item', how='left')

In [11]:
df1.head()

,item,date,total_quantity,average_price,temperature_range,average_temperature,daily_rainfall,season,cluster
0,감귤,2019-01-03,1797298.1,3241.550629,11.6,-3.5,0.0,겨울,1
1,감귤,2019-01-04,1356605.5,3241.630229,10.3,-1.1,0.0,겨울,1
2,감귤,2019-01-05,1306249.6,3246.549462,6.6,-2.8,0.0,겨울,1
3,감귤,2019-01-07,1519848.7,3280.563932,9.3,-1.9,0.0,겨울,1
4,감귤,2019-01-08,1282793.0,3092.842498,7.7,-3.5,0.0,겨울,1

In [12]:
df1.columns

Index(['item', 'date', 'total_quantity', 'average_price', 'temperature_range',
       'average_temperature', 'daily_rainfall', 'season', 'cluster'],
      dtype='object')

In [13]:
df1.dtypes

item                    object
date                    object
total_quantity         float64
average_price          float64
temperature_range      float64
average_temperature    float64
daily_rainfall         float64
season                  object
cluster                  int64
dtype: object

In [14]:
df1['date'] = pd.to_datetime(df1['date'], format='%Y-%m-%d', errors='coerce')

In [16]:
df1.isna().sum()

item                   0
date                   0
total_quantity         0
average_price          0
temperature_range      0
average_temperature    0
daily_rainfall         0
season                 0
cluster                0
dtype: int64

In [17]:
df1.to_csv("../data/clustered_seoul.csv", index=False, encoding='utf-8-sig')