In [1]:
import os
from pymongo import MongoClient
from dotenv import load_dotenv

# .env 파일 로드
load_dotenv()

# 환경 변수 읽기
MONGO_URI = os.getenv('MONGO_URI')  # MongoDB URI
MONGO_DB_NAME = os.getenv('MONGO_DB_NAME')  # MongoDB 데이터베이스 이름

# MongoDB 연결
client = MongoClient(MONGO_URI)
db = client[MONGO_DB_NAME]  # 데이터베이스 선택

print(f"데이터베이스 '{MONGO_DB_NAME}'에 연결되었습니다.")

데이터베이스 'auction_price'에 연결되었습니다.

In [2]:
import pandas as pd

# 컬렉션 선택
collection = db['agromarket']  

data = list(collection.find())  # MongoDB 데이터를 리스트로 변환

df = pd.DataFrame(data)

In [3]:
df.head()

,_id,일자,연도,월,일,계절,부류,품목,도매시장,총물량(kg),총금액(원),총단가(원/kg),평균물량(kg),평균금액(원),평균단가(원/kg)
0,6767f933080db7fd29c186db,2019-09-02,2019,9,2,가을,과실류,감귤,강릉,650.0,2670000.0,4107.692308,650.0,2.670000e+06,4107.692308
1,6767f933080db7fd29c186dc,2019-09-02,2019,9,2,가을,과실류,곶감,강릉,48.0,132000.0,2750.000000,48.0,1.320000e+05,2750.000000
2,6767f933080db7fd29c186dd,2019-09-02,2019,9,2,가을,과실류,무화과,강릉,20.0,90000.0,4500.000000,20.0,9.000000e+04,4500.000000
3,6767f933080db7fd29c186de,2019-09-02,2019,9,2,가을,과실류,바나나,강릉,1404.0,2938000.0,2092.592593,702.0,1.469000e+06,2092.592593
4,6767f933080db7fd29c186df,2019-09-02,2019,9,2,가을,과실류,배,강릉,10657.5,34569400.0,3243.668778,3552.5,1.152313e+07,3243.668778

In [4]:
df.describe()

,연도,월,일,총물량(kg),총금액(원),총단가(원/kg),평균물량(kg),평균금액(원),평균단가(원/kg)
count,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06,5.643209e+06
mean,2.021524e+03,6.552971e+00,1.578309e+01,5.862736e+03,1.227140e+07,4.967866e+03,1.301181e+03,2.626121e+06,4.967866e+03
std,1.712992e+00,3.421168e+00,8.737152e+00,3.367184e+04,6.118557e+07,2.021888e+04,5.480042e+03,7.493261e+06,2.021888e+04
min,2.019000e+03,1.000000e+00,1.000000e+00,1.000000e-03,2.000000e+00,4.525403e-01,1.000000e-03,2.000000e+00,4.525403e-01
25%,2.020000e+03,4.000000e+00,8.000000e+00,4.650000e+01,1.750000e+05,1.729129e+03,3.000000e+01,1.150250e+05,1.729129e+03
50%,2.022000e+03,7.000000e+00,1.600000e+01,3.300000e+02,1.032000e+06,3.043085e+03,1.627636e+02,5.119000e+05,3.043085e+03
75%,2.023000e+03,1.000000e+01,2.300000e+01,2.195000e+03,5.769700e+06,5.600000e+03,7.860000e+02,2.160000e+06,5.600000e+03
max,2.024000e+03,1.200000e+01,3.100000e+01,2.065254e+07,7.725156e+09,3.000000e+07,4.401350e+06,1.279800e+09,3.000000e+07

In [5]:
# 데이터 내 유효하지 않은 값 확인
print("NaN 값 개수:")
print(df.isna().sum())  # NaN 값 개수 확인

print("\ninf 값 개수:")
print((df == float('inf')).sum())  # inf 값 개수 확인

print("\n-inf 값 개수:")
print((df == float('-inf')).sum())  # -inf 값 개수 확인

NaN 값 개수:
_id             0
일자              0
연도              0
월               0
일               0
계절              0
부류              0
품목              0
도매시장            0
총물량(kg)         0
총금액(원)          0
총단가(원/kg)     980
평균물량(kg)        0
평균금액(원)         0
평균단가(원/kg)    980
dtype: int64

inf 값 개수:
_id             0
일자              0
연도              0
월               0
일               0
계절              0
부류              0
품목              0
도매시장            0
총물량(kg)         0
총금액(원)          0
총단가(원/kg)     123
평균물량(kg)        0
평균금액(원)         0
평균단가(원/kg)    123
dtype: int64

-inf 값 개수:
_id             0
일자              0
연도              0
월               0
일               0
계절              0
부류              0
품목              0
도매시장            0
총물량(kg)         0
총금액(원)          0
총단가(원/kg)     220
평균물량(kg)        0
평균금액(원)         0
평균단가(원/kg)    220
dtype: int64

In [6]:
# 총물량(kg)이 0인 행 확인
print(df[df['총물량(kg)'] == 0])

# 평균물량(kg)이 0인 행 확인
print(df[df['평균물량(kg)'] == 0])

                              _id          일자    연도   월   일  계절     부류    품목  \
1492     67670ebad0230abe8a2930f2  2019-09-20  2019   9  20  가을   엽경채류    고수
6771     67670ebad0230abe8a294591  2019-11-20  2019  11  20  가을   엽경채류    깻잎
7307     67670ebbd0230abe8a2947a9  2019-11-26  2019  11  26  가을  조미채소류   건고추
41084    67670ebbd0230abe8a29cb9a  2019-11-15  2019  11  15  가을    과실류    석류
46927    67670ebbd0230abe8a29e26d  2019-10-22  2019  10  22  가을    과실류   오렌지
...                           ...         ...   ...  ..  ..  ..    ...   ...
5601628  67670ef2d0230abe8a7ea47a  2024-01-27  2024   1  27  겨울    근채류    우엉
5602753  67670ef2d0230abe8a7ea8df  2024-02-13  2024   2  13  겨울    과실류    용과
5615352  67670ef2d0230abe8a7eda16  2024-02-02  2024   2   2  겨울    양채류    적채
5640102  67670ef2d0230abe8a7f3ac4  2024-02-17  2024   2  17  겨울    과실류  블루베리
5640926  67670ef2d0230abe8a7f3dfc  2024-02-27  2024   2  27  겨울    과실류    체리

         도매시장  총물량(kg)    총금액(원)  총단가(원/kg)  평균물량(kg)   평균금액(원)  평균단가(원/kg)
1492       강릉      0.0   -5000.0       -inf       0.0   -5000.0        -inf
6771       강릉      0.0   21000.0        inf       0.0   10500.0         inf
7307       강릉      0.0       0.0        NaN       0.0       0.0         NaN
41084    부산엄궁      0.0       0.0        NaN       0.0       0.0         NaN
46927    광주각화      0.0       0.0        NaN       0.0       0.0         NaN
...       ...      ...       ...        ...       ...       ...         ...
5601628    천안      0.0   11520.0        inf       0.0   11520.0         inf
5602753    천안      0.0       0.0        NaN       0.0       0.0         NaN
5615352    춘천      0.0       0.0        NaN       0.0       0.0         NaN
5640102    구리      0.0  225000.0        inf       0.0  225000.0         inf
5640926    구리      0.0       0.0        NaN       0.0       0.0         NaN

[1329 rows x 15 columns]
                              _id          일자    연도   월   일  계절     부류    품목  \
1492     67670ebad0230abe8a2930f2  2019-09-20  2019   9  20  가을   엽경채류    고수
6771     67670ebad0230abe8a294591  2019-11-20  2019  11  20  가을   엽경채류    깻잎
7307     67670ebbd0230abe8a2947a9  2019-11-26  2019  11  26  가을  조미채소류   건고추
41084    67670ebbd0230abe8a29cb9a  2019-11-15  2019  11  15  가을    과실류    석류
46927    67670ebbd0230abe8a29e26d  2019-10-22  2019  10  22  가을    과실류   오렌지
...                           ...         ...   ...  ..  ..  ..    ...   ...
5601628  67670ef2d0230abe8a7ea47a  2024-01-27  2024   1  27  겨울    근채류    우엉
5602753  67670ef2d0230abe8a7ea8df  2024-02-13  2024   2  13  겨울    과실류    용과
5615352  67670ef2d0230abe8a7eda16  2024-02-02  2024   2   2  겨울    양채류    적채
5640102  67670ef2d0230abe8a7f3ac4  2024-02-17  2024   2  17  겨울    과실류  블루베리
5640926  67670ef2d0230abe8a7f3dfc  2024-02-27  2024   2  27  겨울    과실류    체리

         도매시장  총물량(kg)    총금액(원)  총단가(원/kg)  평균물량(kg)   평균금액(원)  평균단가(원/kg)
1492       강릉      0.0   -5000.0       -inf       0.0   -5000.0        -inf
6771       강릉      0.0   21000.0        inf       0.0   10500.0         inf
7307       강릉      0.0       0.0        NaN       0.0       0.0         NaN
41084    부산엄궁      0.0       0.0        NaN       0.0       0.0         NaN
46927    광주각화      0.0       0.0        NaN       0.0       0.0         NaN
...       ...      ...       ...        ...       ...       ...         ...
5601628    천안      0.0   11520.0        inf       0.0   11520.0         inf
5602753    천안      0.0       0.0        NaN       0.0       0.0         NaN
5615352    춘천      0.0       0.0        NaN       0.0       0.0         NaN
5640102    구리      0.0  225000.0        inf       0.0  225000.0         inf
5640926    구리      0.0       0.0        NaN       0.0       0.0         NaN

[1329 rows x 15 columns]

In [ ]:
# 총단가(원/kg)와 평균단가(원/kg) 다시 계산
df['총단가(원/kg)'] = df.apply(
    lambda row: row['총금액(원)'] / row['총물량(kg)'] if row['총물량(kg)'] != 0 else 0, axis=1
)

df['평균단가(원/kg)'] = df.apply(
    lambda row: row['평균금액(원)'] / row['평균물량(kg)'] if row['평균물량(kg)'] != 0 else 0, axis=1
)